.combatant-panel {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(1fr, 2);
    column-gap: 10px;
}


.combatant-area--left {
    .combatant-area {
        grid-row: 1;
        grid-column: 1;
    }
    .info-area {
        grid-row: 1;
        grid-column: 2;
    }
}

.combatant-area--right {
    .combatant-area {
        grid-row: 1;
        grid-column: 2;
    }
    .info-area {
        grid-row: 1;
        grid-column: 1;
    }
}

.combatant-area {
    grid-row: 1;
    grid-column: 1;
}

.info-area {
    grid-row: 1;
    grid-column: 2;
}
