
.combatant-infos {
    height: 100%;
    width: 100%;
}

.combatant-infos--background {
    background-repeat: "no-repeat";
    background-size: 100% 100%;
}

.combatant-infos__content--spacing {
    padding: 40px;
}

.combetant-info-progressbar--sizing {
    width: 70%;
}

.combetant-info-progressbar_hp {
    margin-top: 5px;
}

.combetant-info-stats--position {
    margin-top: 20px
}
