.attack-panel--layout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 40px;
}

.attack-panel--spacing {
    padding: 50px 25px 25px 25px;
}

.attack-link--coloring {
    $color: #555;
    &:link { color: $color };
    &:visited { color: $color }
}
