
%progress-bar-content {
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
}


.progress-bar {
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    min-height: 25px;
}

.progress-bar-filling {
    @extend %progress-bar-content;
    z-index: 0;
}

.progress-bar-border {
    @extend %progress-bar-content;
    z-index: 10;
    width: 100%;
}
