@import './reset.scss';
@import '../assets/assets.scss';

html, body, #___gatsby, #gatsby-focus-wrapper {
    height: 100%;
    min-height: 100%;

    font-family: 'JerryB4s Handwriting';
    font-size: larger;
    font-weight: bold;
    color: #555;

    background-color: #232323;   
}


// global rules here

.text-center {
    text-align: center;
}