.scene {
    margin: 0 auto;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 30px;
    
    max-width: 955px;
    max-height: 765px;
    display: grid;

    background-image: url('../assets/images/paper-bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-image: 100% 100%;

     box-shadow: 5px 5px 5px 6px #000;
}

.fighter-top {
    width: 100%;
}




